{{ form_start(passwordForm) }}
	{{ form_errors(passwordForm) }}
	{{ form_rest(passwordForm) }}
	<div class="row justify-content-end">
		<button type="submit" class="btn btn-primary mr-2">{% trans %}account.edit.change_password{% endtrans %}</button>
	</div>
{{ form_end(passwordForm) }}
