{% extends 'bootstrap/_modal.html.twig' %}

{% block id %}proofreaderChecklist{% endblock %}

{% block title %}{% trans %}workflow.proofreader.checklist.title{% endtrans %}{% endblock %}

{% block body %}
    <ul>
        <li>{% trans %}workflow.proofreader.checklist.item1{% endtrans %}</li>
        <li>{% trans %}workflow.proofreader.checklist.item2{% endtrans %}</li>
    </ul>
{% endblock %}

{% block footer %}
    <button role="button" class="btn btn-primary" data-dismiss="modal">
        ok
    </button>
{% endblock %}
