{% extends "html.html.twig" %}

{% form_theme form 'bootstrap/_form_labelless_layout.html.twig' %}

{% block title %}{% trans %}account.complete.title{% endtrans %}{% endblock %}

{% block content %}
	<h1 class="h2">{% trans with {'%name%': user.firstName} %}account.complete.header{% endtrans %}</h1>
	<p class="lead">{% trans %}account.complete.intro{% endtrans %}</p>
	<hr>
	{{ form_start(form) }}
		{{ form_errors(form) }}
		{{ form_rest(form) }}
	<button class="btn btn-lg btn-block btn-primary" role="button" type="submit">
		Continue
	</button>
	{{ form_end(form) }}
{% endblock %}
