.DS_Store
/vendor
.idea
.php_cs.cache
composer.phar
/var/log/nginx
/var/sessions
/var/cache
/uploads
/applicationCodeIgniter/config/config.php
/applicationCodeIgniter/config/database.php
/applicationCodeIgniter/config/*/config.php
google_translate_authentication.json
/public/bundles

/bin/.phpunit/
/deploy/deploy.retry

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
