.DS_Store
/vendor
.idea
.php_cs.cache
composer.phar
/var/log/nginx
/var/sessions
/var/cache
/uploads
/applicationCodeIgniter/config/config.php
/applicationCodeIgniter/config/database.php
/applicationCodeIgniter/config/*/config.php
/applicationAngular/node_modules/*
/phinx.yml
google_translate_authentication.json
/public/bundles

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
