.DS_Store
/vendor
.idea
.php_cs.cache
composer.phar
/var/log/nginx
/var/sessions
/var/cache
/uploads
/application/config/config.php
/application/config/database.php
/application/config/development/config.php
/phinx.yml
google_translate_authentication.json
