<div class="chat-module chat-revision">
    <div class="chat-module-top">
        <div class="js-chat-module-body chat-module-body">
            {% for revision in revisions %}
                <div class="media chat-item js-chat-item">
                    {% include 'common/_avatar.html.twig' with {user: revision.user} %}
                    <div class="media-body">
                        <div class="chat-item-title">
                            <span class="js-chat-item-author chat-item-author">
                                {{ revision.user|default('User') }}
                            </span>
                            <span class="revision-info">
                                <span class="js-chat-item-time chat-item-time">
                                    {{ revision.createdAt|time_diff }}
                                </span>
                            <span class="transfer">
                                  <svg viewBox="0 0 20 20" class="svg-reply">
                                    <use xlink:href="#reply-24px"></use>
                                </svg>
                            </span>
                            </span>
                        </div>
                        <div class="js-chat-item-body chat-item-body subject">
                            {{ revision.content }}
                            <span class="highlighted">added</span> <span class="crossed-out">removed</span>
                        </div>
                    </div>
                </div>                
            {% else %}
                {% trans %}editor.revisions.none-found{% endtrans %}
            {% endfor %}
        </div>
    </div>
</div>
