<div class="js-machine collapse show">
    <div id="machine-translation"
         class="d-flex flex-wrap machine-translation mb-4 js-transfer-group">

        <div class="h-5 font-weight-bold mr-1 title">
            {% trans %}editor.working.machine{% endtrans %}
        </div>

        <div class="flex-grow-1 toolset">
            <span class="js-transfer-button">
                <svg viewBox="0 0 20 20" class="svg-reply">
                    <use xlink:href="#reply-24px"></use>
                </svg>
            </span>
        </div>
        <div class="font-weight-light text-small js-transfer-subject">
            {% trans %}editor.working.machine_none{% endtrans %}
        </div>

    </div>
    <div id="translation-memory"
         class="d-flex flex-wrap translation-memory js-transfer-group">

        <div class="h-5 font-weight-bold mr-1 title">
            {% trans %}editor.working.memory{% endtrans %}
        </div>

        <div class="flex-grow-1 toolset">
            <div class="btn-group btn-group-sm ml-auto mr-1"
                 role="group"
                 aria-label="{% trans %}editor.working.memory_stats{% endtrans %}"
            >
                <span class="badge badge-pill mr-0">1 of 4</span>
                <span class="badge badge-success">100%</span>
            </div>

            <div class="btn-group btn-group-extra-sm ml-auto mr-1"
                 role="group"
                 aria-label="{% trans %}editor.working.memory_nav{% endtrans %}"
            >
                <button type="button" class="btn btn-outline-secondary">&lt;&lt;</button>
                <button type="button" class="btn btn-outline-secondary">&gt;&gt;</button>
            </div>

            <span class="js-transfer-button">
                <svg viewBox="0 0 20 20" class="svg-reply">
                    <use xlink:href="#reply-24px"></use>
                </svg>
            </span>
        </div>

        <div class="font-weight-light text-small  js-transfer-subject">
            {% trans %}editor.working.memory_none{% endtrans %}
        </div>
    </div>
</div>