<div class="collapse js-revisions-panel">
    <div class="h-5 font-weight-bold mr-1 title">
        {% trans %}editor.revisions.title{% endtrans %}
    </div>
    <div class="js-revisions"
         data-loading="{% trans %}editor.revisions.loading{% endtrans %}"
    >
    </div>
</div>
