<div class="d-flex flex-wrap mb-1 translation-stat">
    {% if is_granted('approve', project.language) %}
        <div class="h-5 font-weight-bold mr-1 title">
            <div class="js-roles btn-group btn-group-extra-sm ml-auto mr-1 js-role role"
                 role="group"
                 aria-label="{% trans %}editor.working.role.title{% endtrans %}"
            >
                <button type="button"
                        class="btn btn-outline-secondary js-trans trans active"
                        data-role="translator"
                >
                    {% trans %}editor.working.role.translate{% endtrans %}
                </button>
                <button type="button"
                        class="btn btn-outline-secondary js-proof proof"
                        data-role="proofreader"
                >
                    {% trans %}editor.working.role.proofread{% endtrans %}
                </button>
                {% if is_granted('review', project.language) %}
                    <button type="button"
                            class="btn btn-outline-secondary js-rev rev"
                            data-role="reviewer"
                    >
                        {% trans %}editor.working.role.review{% endtrans %}
                    </button>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="ml-auto toolset">
        <a class="transfer"
           data-toggle="collapse"
           data-target="#stats_bars"
           aria-expanded="false"
           aria-controls="stats_bars"
        >
            <i class="fas fa-chart-bar"></i>
        </a>
    </div>
</div>
