{% extends "template.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('editor') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('editor') }}
{% endblock %}

{% block content %}
<main role="main" class="container">
    <div class="editor editor__container">
        {% include 'section/_navigation.html.twig' %}
        <div class="editor-columns">
            {% include 'section/_sentences.html.twig' %}
            <div class="row">
                <div class="col-10 position-fixed translator-dashboard js-translator-dashboard">
                    <div class="row h-100">
                        <div class="col-6 h-100 translator-tools ">
                            {% include 'section/_machine.html.twig' %}
                            {% include 'section/_panel_comments.html.twig' %}
                            {% include 'section/_panel_revisions.html.twig' %}
                        </div>
                        <div class="col-6 h-100 align-self-end translation-area">
                            {% include 'section/_role_selector.html.twig' %}
                            {% include 'section/_working_area.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
            {% include 'section/_stats.html.twig' %}
        </div>
    </div>
    {% include 'section/_modal_changes_lost.html.twig' %}
</main>
{% endblock %}