{% extends "bootstrap/modal.html.twig" %}

{% block action %}/products/save{% endblock %}

{% block id %}add-product-form{% endblock %}

{% block title %}Add Product{% endblock %}

{% block tabs %}
	<ul class="nav nav-tabs nav-fill">
		<li class="nav-item">
			<a class="nav-link active" id="product-add-details-tab" data-toggle="tab" href="#product-add-details" role="tab">General</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="product-add-specs-tab" data-toggle="tab" href="#product-add-specs" role="tab">Specifications</a>
		</li>
	</ul>
{% endblock %}

{% block body %}
	{% include product/_add.html.twig %}
{% endblock %}

{% block submitLabel %}Create Product{% endblock %}