{% extends "html.html.twig" %}

{% form_theme form 'bootstrap/_form_labelless_layout.html.twig' %}

{% block title %}{% trans %}auth.register.title{% endtrans %}{% endblock %}

{% block content %}
	<h1 class="h2 text-center">{% trans %}auth.register.header{% endtrans %}</h1>
	<p class="lead text-center">{% trans %}auth.register.intro{% endtrans %}</p>
	<hr />
	{{ form_start(form) }}
		{{ form_errors(form) }}
		{{ form_rest(form) }}
		<button class="btn btn-lg btn-block btn-primary" role="button" type="submit">
			{% trans %}auth.register.submit{% endtrans %}
		</button>
		<div class="text-center">
			<small>
				{% trans with {
					'%terms_link_before%': '<a href="' ~ path('app_about_page', {'slug': 'terms_of_use'}) ~ '" target="_blank">',
					'%terms_link_after%': '</a>',
					'%privacy_link_before%': '<a href="' ~ path('app_about_page', {'slug': 'privacy_policy'}) ~ '" target="_blank">',
					'%privacy_link_after%': '</a>',
				} %}auth.register.accept{% endtrans %}
			</small>
		</div>
	{{ form_end(form) }}
{% endblock %}
