{% extends "twigs/bootstrap/modal.twig" %}

{% block action %}/products/validateIdml{% endblock %}

{% block id %}validate-idml-form{% endblock %}

{% block title %}Idml Validation{% endblock %}

{% block body %}
	<h6>InDesign File (.idml)</h6>
	<div class="input-group mb-3">
		<div class="custom-file">
			<input type="file" class="custom-file-input" id="idml_file" name="idml_file">
			<label class="custom-file-label" for="idml_file">Choose file</label>
		</div>
	</div>
{% endblock %}

{% block submitLabel %}Validate IDML{% endblock %}
