<ul class="nav nav-tabs nav-fill">
	<li class="nav-item">
		<a class="nav-link active" id="product-add-details-tab" data-toggle="tab" href="#product-add-details" role="tab">
			{% trans %}product.add.general{% endtrans %}
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="product-add-specs-tab" data-toggle="tab" href="#product-add-specs" role="tab">
			{% trans %}product.add.specs{% endtrans %}
		</a>
	</li>
</ul>
